<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple app</title>
</head>
<body>
{% if name %}
<div> Name: {{ name }} </div>
{% endif %}
<ol>
{% for user in users %}
    <li><div>{{ user }}</div></li>
{% endfor %}
</ol>
</body>
</html>